$color-gray: #a9a9a9;
$color-planned: #708190;
$color-inprogress: #fccb61;
$color-done: #04ada6;

@mixin flexLayout {
  display: flex;
  align-items: center;
}

@mixin inputStyles {
  width: 300px;
  height: 40px;
  border: 2px solid $color-gray;
  padding-left: 10px;
}

@mixin task {
  border-radius: 7px;
  padding: 20px;
  background-color: white;
  width: 32%;
}

@mixin heading {
  .heading {
    color: $color-planned;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 2rem;
    }
  }
}
